@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

/* Custom Utilities if needed later */
body {
  @apply antialiased text-white bg-[#0a0a0f];
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* Prevent scroll */
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}